*{
    margin: 0;
}

body {
  background-image:
    linear-gradient(to bottom, rgba(180,180,180), rgba(240,240,240)),
    url('back.jpeg');
}

.row {
  margin: 0 auto;
}
.block {
  float: left;
}

.contenedor{
    width: 100vw;
    height: 100vh;
    text-align: center;
      background-image:
    linear-gradient(to bottom, rgba(180,180,180), rgba(240,240,240)),
    url('back.jpeg');
}

p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
    border-radius: 10rem;
}

#yesBtn{
    transform: translate(-100%,0);
    color: white;
    background-color: #04AA6D;
    transition: all 0.5s;
    position: relative;
}

.yesBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #66A182;
  transition: all 0.3s;
}
.yesBtn:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.yesBtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
#yesBtn:hover::after {
  opacity: 1;
  transform: scale(1,1);
}



#noBtn{
    position: absolute;
    color: white;
    background-color: #FF6766;
}
